body{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: auto;
    height: auto;
    background-image: url(img/books.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    z-index: -1;
}
.btnMenu {
    min-width: 400px;
    height: 80px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #343a40;
    box-shadow: 0 5px #212529;

    }
.btnMenu:hover {
    box-shadow: 0 3px #212529;
    top: 1px;
    }
.btnMenu:active {
    box-shadow: 0 0 #212529;
    top: 5px;
    }
.posicionBotones{
    position: relative;
    width:100px;
    height:300px;
    margin: auto;
    left: -150px;
    margin-top: 180px;
}
div.bienvenida{
    border:1px solid #990000;
    background-color:rgb(195,195,195,0.9);
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    top:-80px;
    width: 80%;
    text-align:center;
}